@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.btn-primary.raised {
  box-shadow: 0 5px 0 0 #bf4636;
  background: #da503e;
  border-style: none;
  font-variant: small-caps;
  font-weight: 400;
}
.btn-primary.raised:hover, .btn-primary.raised.hover {
  background: #bf4636;
  box-shadow: none;
  margin-bottom: -1px;
  margin-top: 1px;
}
.jumbotron {
  background: #363636;
  color: #da503e;
}
.navbar {
  background: #e5e5e5;
}
.active {
  background: red;
}
.nav {
  margin-top: -30px;
}
.pull-left a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.pull-left li {
  display: inline;
}

.dlbutton {
  text-align: center;
}